useDynLib(sfreemap)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

export(sfreemap.map
       , sfreemap.read_tips
       , map_posterior_distribution
       , plot_distribution_chart
       , sfreemap.plot_tree
       , sfreemap.pruning
       , correlation
       , plot.correlation
       , reorder.sfreemap
       , describe.sfreemap
)

S3method(reorder, sfreemap)
S3method(summary, sfreemap)
S3method(plot, correlation)
S3method(print, correlation)
S3method('+', correlation)


importFrom(stats, reorder)

importFrom(ape, ace, di2multi, is.binary.tree, is.rooted, is.ultrametric
              , matexpo, multi2di, nodelabels, plot.phylo, read.tree
              , reorder.phylo, write.tree, all.equal.phylo, drop.tip, root)

importFrom(phytools, matchNodes, to.matrix, countSimmap, pbtree, sim.history
                   , make.simmap, describe.simmap, plotSimmap, nodeHeights)
importFrom(parallel, mclapply, detectCores, makeCluster, parApply, stopCluster)

importFrom(reshape2, melt)

importFrom(ggplot2, ggplot, scale_alpha_discrete, scale_fill_discrete, aes
                  , geom_bar, ggtitle, theme, element_text, xlab, ylab
                  , scale_x_continuous, aes_string, geom_histogram)

importFrom(seqinr, read.fasta)

importFrom(phangorn, phyDat, pml, pml.control, optim.pml)
