useDynLib(sfreemapc)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

export(sfreemap.map
       , sfreemap.describe
       , sfreemap.read_tips
       , sfreemap.reorder
       , sfreemap.map_posterior_distribution
       , sfreemap.plot_distribution)

importFrom(ape, ace, di2multi, is.binary.tree, is.rooted)
importFrom(ape, is.ultrametric, matexpo, multi2di, nodelabels, plot.phylo)
importFrom(ape, read.tree, reorder.phylo, write.tree)
importFrom(phytools, matchNodes, to.matrix, countSimmap, pbtree)
importFrom(phytools, sim.history, make.simmap, describe.simmap)
importFrom(parallel, mclapply, detectCores)
importFrom(reshape2, melt)
importFrom(ggplot2, ggplot, scale_alpha_discrete, scale_fill_discrete, aes)
importFrom(ggplot2, geom_bar, ggtitle, theme, element_text, xlab, ylab)
importFrom(ggplot2, scale_x_continuous, aes_string)
